<main class="detailPanel">
    <img ng-src="{{event.thumbnail.path}}/landscape_incredible.{{event.thumbnail.extension}}" class="big">
    <div class="upper">
        <h4>Event Details</h4>
        <h2>{{ event.title }}</h2>
        <p>{{ event.description }}</p>
        <h4> Characters Related to Event:</h4>
        <li class="character" ng-repeat="character in characters">
        <a href="#/heroes/{{ character.id }}">
            <img ng-src="{{ character.thumbnail.path }}/standard_small.{{ character.thumbnail.extension}} " class="small">
            <p class="list">{{ character.name }}</p>
            <p class="record"> Events on Record: {{ character.events.available }}</p>
        </a>
    </li>
    </div>
</main>