<main class="detailPanel">
    <img ng-src="{{indy.thumbnail.path}}/landscape_incredible.{{indy.thumbnail.extension}}" class="big">
    <div class="upper">
        <h4>Character Profile:</h4>
        <h2>{{ indy.name }}</h2>
        <p>{{ indy.description }}</p>
        <h4>{{ events.length }} Events Related to Character:</h4>
        <ul ng-repeat="event in events">
            <li>
                <a href="#/heroes/{{ indy.id }}/{{ event.id }}"> {{ event.title }}</a>
                <p ng-click="setClick(event)">Event ID: {{ event.id }} </p>
            
            </li>
        </ul>
        
        <h4>Character Listings for {{ eventCharacters.title }} </h4>
        <ul ng-repeat="character in eventCharacters.characters.items">
            <li> {{ character.name }} </li>
        </ul>
    </div>
</main>